/*
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 0.8em;
	}

	h2 {
		font-size: 1.35em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.2em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1em;
		line-height: 1.5em;
	}

/* Section/Article */

	header.major {
		width: 90%;
		margin: 0 auto;
	}

		header.major h2 {
			font-size: 1.5em;
		}

		header.major h2 + p {
			font-size: 1.25em;
			margin: -0.5em 0 2em 0;
		}

/* Wrapper */

	.wrapper {
		padding: 3em 0 1em 0;
	}

/* Banner */

	#banner {
		padding: 5em 2em 4em 2em;
	}

		#banner h2 {
			font-size: 2em;
		}

		#banner p {
			font-size: 1.25em;
		}

/* Main */

	#main {
		padding: 4em 2em;
		margin: 0 auto;
	}

/* Footer */

	#footer {
		padding: 2em 0;
	}

		#footer .copyright {
			text-align: left;
		}

			#footer .copyright li {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
				display: block;
			}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}